/* You can add global styles to this file, and also import other style files */
/* styles.css */

body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding: 15px;
    background-color: #8bc34a;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  h1 {
    color: #4caf50;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  